footer {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top: auto;
  }
  
  
  footer p {
    margin: 0;
  }
  